.container {
	padding: 1em;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 0.5em;
	background-color: var(--secondary-color);
	border-radius: 5px;
	padding: 0.5em;
}

li:hover {
	background-color: var(--secondary-color-400);
}

li a {
	color: var(--primary-color-800);
	text-decoration: none;
	background-color: transparent;
}
