<mat-toolbar color="primary">
	<button
		mat-icon-button
		class="example-icon"
		aria-label="Example icon-button with menu icon"
		(click)="drawer.toggle()"
	>
		<mat-icon>menu</mat-icon>
	</button>
	<span>Learning Angular </span>
	<span class="example-spacer"></span>
	<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>

<mat-drawer-container class="container">
	<mat-drawer #drawer class="sidenav">
		<mat-nav-list>
			<a mat-list-item [routerLink]="['/home']" routerLinkActive="active">Home</a>
			<a mat-list-item [routerLink]="['/directives']" routerLinkActive="active">Directives</a>
			<a mat-list-item [routerLink]="['/testing']" routerLinkActive="active">Testing</a>
		</mat-nav-list>
	</mat-drawer>
	<mat-drawer-content class="sidenav-content">
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
