.example-spacer {
	flex: 1 1 auto;
}

.container {
	width: 100%;
	height: calc(100% - 64px);
}

.sidenav {
	padding: 20px;
}

::ng-deep .mat-drawer {
	width: 15%;
}

.active {
	color: white;
	background-color: #9965f4 !important;
}

mat-nav-list a {
	/* background-color: yellow; */
	border-radius: 5px;
}
